body {
  background-color: #DAAD86;
  color:   #3b2512;
  padding: 20px;
  font-family: Arial;
  font-size: 1.2em;
  line-height: 1.5;
}

h1 {
font-size: 1.7em;
}

h2 {
font-family: "Are You Serious", cursive;
font-size: 2.2em; 
}

/* navigation */
.navbar {
  overflow: hidden;
  width: 60%;
  margin: 0 auto;  
  display: flex;
  justify-content: space-evenly;
  font-family: "Are You Serious", cursive;
  font-style: normal;
  border-radius: 5px;
}
  
.navbar a {
  float: left;
  color:  #3b2512;
  letter-spacing: 1px;
  text-align: center;
  padding: .5em;
  text-decoration: none;
  font-size: 2em;     
}

.navbar a:hover {
  text-decoration: underline 2px;
  font-size: 2.2em;
}

.navbar a.active {
  text-decoration: underline 2px; 
}


/* buttons back and next */
.container_two_buttons {
  display: flex;
  justify-content: space-between;
}

.container_two_buttons_index {
display: flex;
justify-content: flex-end;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.back .next {
  background-color: #FBEEC1; 
  color: #3b2512;
}

.container-main{
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 2em;
  align-items: center;
}


#welcome {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;  
  text-align: center;
  margin-top: -2em;
}

.logo {
font-family: "Are You Serious", cursive;
font-size: 2em;
}

.container_photo {
width: 80%; 
overflow: hidden; 
display: flex;
align-items: center;
justify-content: center;
padding: 2em;
}

.container_photo img {
width: 100%;
height: 100%;
object-fit: cover; 
opacity: 1;
border: 5px solid #3b2512; 
border-radius: 15px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}


/* footer */
footer {
  color: #3b2512;
  font-size: 1.15rem;
  text-align: center;   
  margin-bottom: -1.5em;
  width: 100%;
  height: 3em;
}


/*  COFFEE SECTION */
#coffee {
width: 80%;
padding: 10px;
margin: auto;
}

.btn {
padding: 10px;
margin-right: 5px;
border: none;
cursor: pointer;
background-color: #FBEEC1;
font-size: 1em;
border-radius: 3px;
}

.btn.active {
background-color: #3b2512;
color:#FBEEC1;
}

.btn:hover {
background-color: #04AA6D;
color:#3b2512;
}

.container_coffee {
display: flex;
flex-wrap: wrap;
}

.row {
display: flex;
flex-wrap: wrap;
}

.column {
flex: 1 1 200px; 
margin: 10px;
box-sizing: border-box;
}

.coffee-image img {
width: 80%; 
}

.coffee-name {
text-align: center;
margin: 10px 0;
}

.content {
border: 1px solid #ddd;
padding: 10px;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
text-align: center;
width: 12em;
height: 22em;
}

.order {
background-color: #FBEEC1;
border-radius: 5px;
width: 5em;
height: 3em;
}

.order:hover {
background-color: #04AA6D;
}


/* DOGS SECTION */
.dog_row {
display: flex;
flex-wrap: wrap;
}

.column_dog_card {
flex: 1 1 200px; 
margin: 10px;
box-sizing: border-box; 
}

.content_dog {
border: 1px solid #ddd;
padding: 10px;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
text-align: center;
width: 12em;
}

.dog_card button {
  outline: 0;
  padding: 5px;
  color: #3b2512;
  background-color: #FBEEC1;
  text-align: center;
  cursor: pointer;
  width: 4em;
  height: 2em;
  font-size: 18px;
  border-radius: 5px;
}

.dog_card button:hover {
  background-color: #04AA6D;
}

 .btn_style{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  float: right;
  font-size: 20px;
}


/* GIFTS SECTION */
.container_gifts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin-bottom: 2em;
}

.gift_row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

#gifts .content {
  height: 18em;
}

.gift-image img {
  width: 80%; 
  height: auto; 
}

.gift-name {
  text-align: center;
  margin: 10px 0;
}

.order {
  letter-spacing: 1px;
  width: 4em;
  height: 2em;
  font-size: 18px;
}


/* RESERVATION SECTION */

.container-reserve {
display: flex;
flex-direction: row;
gap: 5em;
}

/* Add padding to containers */
.container_booking {
padding: 16px;
background-color: #FBEEC1;
width: 100%;
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

input[type=text], input[type=number] {
width: 90%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}


input[type=text]:focus, input[type=number]:focus {
background-color: #ddd;
outline: none;
}

hr {
border: 1px solid #DAAD86;
margin-bottom: 25px;
}

.reservationbtn {
background-color: #04AA6D;
padding: 16px 20px;
margin-left: 10em;
border: #ddd;
border-radius: 5px;
cursor: pointer;
width: 30%;
font-size: .75em;
}

.chat-popup {
  display: none;
}

.form-container {
max-width: 100%;
padding: 10px;
background-color: #FBEEC1;
border-radius: 10px;
padding: 2em;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#petPhoto  {
  border: 3px solid #3b2512; 
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

/* close button */
.form-container .btn {
background-color: #04AA6D;
color: #3b2512;
padding: .5em;
border: none;
width: 30%;
margin-top: 1em;
border-radius: 5px;
}

/* top button */
#topBtn {
  border:  #3b2512 1px  solid;
  background-color: #FBEEC1;
  padding: 8px 14px;
  font-size: 1rem;
  letter-spacing: 2px;
  left: 100%;
  transform: translateX(-170%);
  text-align: right;
  border-radius: 5px;
  margin: 30px;
  position: fixed; 
  bottom: .5em; 
}

#topBtn:hover { 
background-color: #04AA6D;
}
